<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
 -->
<%= render partial: '/layouts/header2' %>
 <div class="custom-form">

            <div class="one one-head u-margin-top-big">
  <h1 class="one-head" style="margin-bottom: 50px; font-size: 50px;">Login</h1>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<form>
  
  <label>
    

    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
  </label>

  <label>
     <%= f.label :password, class: "form-label" %>
    
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>

    
  </label>

  <% if devise_mapping.rememberable? %>
    
      <%= f.check_box :remember_me, class: "check-box-input" %>
      <%= f.label :remember_me, class: "check-box-label" %>
      
   
<% end %>
  
 <div class="u-margin-bottom-big u-margin-top-big">
  <%= f.submit "Login" %></div>
</form>
<% end %>
</div>