<!-- <p id="notice"><%= notice %></p>

<h1>Alumnis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Profession</th>
      <th>Description</th>
      <th>Facebook url</th>
      <th>Linkedin url</th>
      <th>Twitter url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnis.each do |alumni| %>
      <tr>
        <td><%= alumni.name %></td>
        <td><%= alumni.profession %></td>
        <td><%= alumni.description %></td>
        <td><%= alumni.facebook_url %></td>
        <td><%= alumni.linkedin_url %></td>
        <td><%= alumni.twitter_url %></td>
        <td><%= link_to 'Show', alumni %></td>
        <td><%= link_to 'Edit', edit_alumni_path(alumni) %></td>
        <td><%= link_to 'Destroy', alumni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumni', new_alumni_path %>
 -->
 <%= render partial: '/layouts/header2' %>

<!-- <div class="container">
  <div class="row"> -->
    <!-- Single Starts  -->
   <!--  <% @alumnis.each do |alumni| %>
      <div class="col-1-of-3">
      <div class="team__item set-bg" style="background-image: url(<%= alumni.avatar.url(:medium) %>);">

        <div class="team__text">
          <div class="team__title">
            <h4><%= alumni.name %></h4>
            <span><%= alumni.profession %></span>
          </div>
          <p><%= alumni.description %></p>
          <div class="team__social">
            <a href=<%= alumni.facebook_url %>><i class="fa fa-facebook"></i></a>
            <a href=<%= alumni.linkedin_url %>><i class="fa fa-linkedin"></i></a>
            <a href=<%= alumni.twitter_url %> target="_blank" ><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% end %> -->
    
    <!-- Single Ends    -->
    <!-- <div class="col-1-of-3">
      <div class="team__item set-bg" style="background-image: url('https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');">
        <div class="team__text">
          <div class="team__title">
            <h4>Furkan Giray</h4>
            <span>Web Developer</span>
          </div>
          <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
            porta leo, non tincidunt mauris condimentu eget. Vivamus non turpis elit. Aenean
            ultricies nisl sit amet.</p>
          <div class="team__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="team__item set-bg" style="background-image: url('https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');">
        <div class="team__text">
          <div class="team__title">
            <h4>Furkan Giray</h4>
            <span>Web Developer</span>
          </div>
          <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
            porta leo, non tincidunt mauris condimentu eget. Vivamus non turpis elit. Aenean
            ultricies nisl sit amet.</p>
          <div class="team__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->





<div class="one one-head u-margin-top-big">
  <h1 class="one-head">Alumni Section</h1>
</div>
   
      <% @alumnis.each do |alumni| %>
        <div class="col-lg-4 col-md-6 col-sm-12" style="position: relative;">
            <div class="our-team " >
                <div class="pic">
                    
                    <%= image_tag alumni.avatar.url(:square) %>
                    <div class="over-layer">
                        <ul class="social-links li-link">
                            <li><%= link_to "",  alumni.linkedin_url, :target => "_blank", :class => "fa fa-linkedin style-link" %></li>
                            <li><%= link_to "",  alumni.facebook_url, :target => "_blank", :class => "fa fa-facebook style-link" %></li>
                            <li><%= link_to "",  alumni.twitter_url, :target => "_blank", :class => "fa fa-twitter style-link" %></li>
                            
                            
                        </ul>
                    </div>
                </div>
                <div class="team-content">
                    <h3 class="team-title"><%= alumni.name %></h3>
                    <span class="post"><%= alumni.profession %></span>
                    <p class="description"><%= alumni.description %></p>
                </div>
                
            </div>
        </div>
 
        <% end %>
    </div>
</div>