

       
        <header class="header border">

           <%= render partial: '/layouts/header1' %>
            

            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main heading-font-alba" style="">The Editorial Board</span>
                    <span class="heading-primary--sub" style="font-family: Segoe Print; margin-top: 12px;">Beckoning Creati'wit'y</span>
                </h1>

                <a href="#section01" class="btn btn--white btn--animated pos-rel">Let's Discover it</a>
            </div>
        </header>

        <main>
            <section class="section-about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary head-font" id="section01" >
                        Exciting events for students
                    </h2>
                </div>

                <div class="row">
                    <div class="col-1-of-2">
                        <h3 class="heading-tertiary u-margin-bottom-small">You're really going to Indulge, Enjoy and Learn with us</h3>
                        <p class="paragraph">
                            We conduct manifold events keeping in mind the multidimensional aspects of an individual's personality. The events are well organized that mainly focus on bringing out the hidden potential of a student and help them imbibe confidence.
                        </p>

                        <h3 class="heading-tertiary u-margin-bottom-small">Live events like you never have seen before</h3>
                        <p class="paragraph">
                            The events provide real-time experience to the students, and test and help develop their agility, decision-making ability, presence of mind and team coordination.
                        </p>

                        
                    </div>
                    <div class="col-1-of-2">
                        <div class="composition">

                            <%= image_tag("event1.jpg", class: "composition__photo composition__photo--p1", alt: "event1" ) %>

                            <%= image_tag("event2.jpg", class: "composition__photo composition__photo--p2", alt: "event1" ) %>
                            <%= image_tag("event3.jpg", class: "composition__photo composition__photo--p3", alt: "event1" ) %>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-features">
                <div class="head-font heading-primary--main u-center-text u-margin-bottom-big font-white">What do we do</div>
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-world"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Malvika</h3>
                            <p class="feature-box__text">
                                Malvika is the annual University magazine encompassing innovative creations, articles and sketches.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4" id="section02">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-compass"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Tiresia</h3>
                            <p class="feature-box__text">
                                Tiresia is University's monthly newsletter comprising informative sections and happenings of the month.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-map"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Abhyudaya</h3>
                             <p class="feature-box__text">
                                 Abhyudaya is the official annual art, literary and cultural fest that is adorned with various exhilarating events for students.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-heart"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Vagmita  and Twist & Twain</h3>
                            <p class="feature-box__text">
                                Vagmita is an online poetry recitation competition and Twist & Twain is an online short story writing competition. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-world"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Malaviyan Ace</h3>
                            <p class="feature-box__text">
                                An online event that aims at testing the students' quantitative aptitude along with their knack for verbal analysis, C language and General Studies.

                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4" id="section02">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-compass"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">SpellCzar</h3>
                            <p class="feature-box__text">
                                Aimed at testing proficiency in spellings, this event also focuses on quick decision-making and coordination abilities of the participants.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-map"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Arunoday</h3>
                             <p class="feature-box__text">
                                 Conducted exclusively for the freshmen, Arunoday or 'the rising Sun' sets off a series of events for freshmen to explore and groom their various skills.

                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-heart"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Annual Debate Competition</h3>
                            <p class="feature-box__text">
                                The event aims at honing the students’ oratory skills and simultaneously acquaints them with their duties as the citizens of the world’s largest democracy. 
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-tours" id="section-tours">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary head-font">
                        Our publications
                    </h2>
                </div>

                <div class="row">
                    


                    <div class="col-2-of-4">
                        <div class="showcard">
                            <div class="showcard__side showcard__side--front">
                                <div class="showcard__picture showcard__picture--2">
                                    &nbsp;
                                </div>
                                <h4 class="showcard__heading">
                                    <span class="showcard__heading-span showcard__heading-span--2">Malvika</span>
                                </h4>
                                <div class="showcard__details">
                                    <ul>
                                        <li>Cover Stories</li>
                                        <li>Articles</li>
                                        <li>Colloquy</li>
                                        <li>Photoshoot</li>
                                        <li>Final Year Contacts</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="showcard__side showcard__side--back showcard__side--back-2">
                                <div class="showcard__cta">
                                    <div class="showcard__about-box">
                                        <p class="showcard__about-detail">Malvika is our annual University magazine encompassing innovative creations, articles and sketches.</p>
                                        
                                    </div>
                                    <a href="http://mmmut.ac.in/News_content/30235newsletter_01202020.pdf" class="btn btn--white" target="_blank">Read now!</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-2-of-4">
                        <div class="showcard">
                            <div class="showcard__side showcard__side--front">
                                <div class="showcard__picture showcard__picture--3">
                                    &nbsp;
                                </div>
                                <h4 class="showcard__heading">
                                    <span class="showcard__heading-span showcard__heading-span--3">Tiresia</span>
                                </h4>
                                <div class="showcard__details">
                                    <ul>
                                        <li>Tete-a-tete</li>
                                        <li>Campus Buzz</li>
                                        <li>Tech Insights</li>
                                        <li>Articles</li>
                                        <li>How To? </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="showcard__side showcard__side--back showcard__side--back-3">
                                <div class="showcard__cta">
                                    <div class="showcard__about-box">
                                    <p class="showcard__about-detail">Tiresia is University's monthly newsletter comprising informative sections and happenings of the month.</p>
                                        
                                    </div>
                                    <a href="http://mmmut.ac.in/ViewNewsletter.aspx" class="btn btn--white" target="_blank">Read now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-stories">
                <div class="bg-video">
                    <video class="bg-video__content" autoplay muted loop>
                        <source src="img/video.mp4" type="video/mp4">
                        <source src="img/video.webm" type="video/webm">
                        Your browser is not supported!
                    </video>
                </div>

                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary head-font">
                        Our Faculty Advisors
                    </h2>
                </div>

                <div class="row">
                    <div class="story">
                        <figure class="story__shape">
                            <%= image_tag("snsingh.jpg", class: "story__img", alt: "Dr. S.N. Singh") %>
                            <figcaption class="story__caption">Dr. S.N. Singh</figcaption>
                        </figure>
                        <div class="story__text">
                            <h3 class="heading-tertiary u-margin-bottom-small"> DR. S. N. SINGH</h3>
                            <p>
                               

                            ASSOCIATE PROFESSOR & HEAD<br>
                            Humanities & Management Science Department<br>

                            Currently serving as Faculty Advisor of The Editorial Board, under the guidance of whom we throve collectively and achieved greater heights and recognition, and wish to maintain this legacy for years to come.
                                                                
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="story">
                        <figure class="story__shape">
                            <%= image_tag("bkpandey.jpg", class: "story__img", alt: "Prof. B.K. Pandy") %>
                            <figcaption class="story__caption">Prof. B.K. Pandey</figcaption>
                        </figure>
                        <div class="story__text">
                            <h3 class="heading-tertiary u-margin-bottom-small">PROF. B. K. PANDEY</h3>
                            <p>
                                


                            PROFESSOR & HEAD<br>
                            Physics and Material Science Department<br>

                            Had given his service as Faculty Advisor of The Editorial Board, under the supervision of whom, we were blessed to work.
                            </p>
                        </div>
                    </div>
                </div>

                
            </section>

           
        </main>

        <footer class="footer">
            <div class="footer__logo-box">

                <picture class="footer__logo">
                    <%= link_to image_tag("Logo.png", {:style => "width:150px; margin-x: auto;"}), root_path %>
                </picture>


                
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <div class="footer__navigation">
                        <ul class="footer__list">
                            <li class="footer__item"><a href="http://mmmut.ac.in/News_content/30235newsletter_01202020.pdf" class="footer__link">MALVIKA</a></li>
                            <li class="footer__item"><a href="http://www.mmmut.ac.in/News_content/14003newsletter_05102020.pdf" class="footer__link">TIRESIA</a></li>
                            <li class="footer__item"><a href="#section02" class="footer__link">ABHYUDAYA</a></li>
                            <li class="footer__item"><a href="http://mmmut.ac.in/" class="footer__link">MMMUT</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-1-of-2">
                    <p class="footer__copyright">
                        E-mail: literaryedb@mmmut.ac.in<br>
                        Designed and Developed by: The Editorial Board, Madan Mohan Malaviya University of Technology
                    </p>
                </div>
            </div>
        </footer>

        

    