<% posts.each do |post| %>

<% if post.approved || current_user == post.user %>

  <div class="blog-container">
  
  <div class="blog-header">
    <div class="blog-cover" style="background-image: url(<%= post.image_url %>);">
      <div class="blog-author">
        <h3 style="background-image: url(<%= post.user.image_url %>); background-position: center; background-size: cover; height: 70px; width: 70px; border-radius: 40px; margin-top: 10px;"><%= post.user.username %></h3>
      </div>
    </div>
  </div>

  <div class="blog-body">
    <div class="blog-title">
      <h1><%= link_to post.title, post_path(post) %></h1>
    </div>
    <div class="blog-summary">
      <span class="blog-content"><%= truncate(strip_tags(post.content.to_s), length: 300) %></span>
    </div>
    
  </div>
  
  <div class="blog-footer">
    <ul>
      <li class="published-date"><%= post.created_at %></li>
      <% if current_user == post.user %>
          <li><%= link_to "Delete", post_path(post), class: "post-delete", method: :delete %></li>
      <% end %>
    </ul>
  </div>

</div>
  
<% end %>


<% end %>
