


<div class="container">
    <%= render partial: '/layouts/header2' %>


  


      <div class="user-detail u-margin-top-big">
        <% if @user.image_url %>
          <%= image_tag @user.image_url, class: "user-image" %>
        <% end %>
        <h2 class="align-center user-name">Username: <%= @user.username %></h2>
      <h2 class="align-center user-mail">Email: <%= @user.email %></h2>
      </div>
      
      <h2 class="align-center user-name u-margin-top-big">All posts by <%= @user.username %></h2>
      
  
    
  </div>

  <% if @user.posts.blank? %>
    <div class ="no-projects px-4">
      <h5 class="dashboard-notice">You don't have any posts. Create one <%= link_to 'here', new_post_path, class: 'no-projects-here' %></h5>
    </div>
  <% end %>

  <div class="row">
    <%= render partial: "dashboard" , locals: {posts: @user.posts} %>
  </div>

</div>
<br>


