<div class="bckg">
  
<%= render partial: '/layouts/header2' %>
            


<div class="one one-head u-margin-top-big">
  <h1 class="one-head" style="margin-bottom: 40px; font-size:50px;">Writers' cove</h1>
</div>
<div class="align-center"><%= link_to "Start Writing!", new_post_path, class: "btn btn--white" %></div>
<p style="color: red; font-size: 16px; text-align: center; margin-top: 30px;">POST WILL BE PUBLISHED ONCE APPROVED<br>
MAX IMAGE SIZE 1MB</p>
<% @posts.each do |post| %>

  <div class="blog-container" style="background: #f5f5f5; border-radius: 5px; ">
  
  <div class="blog-header">
    <div class="blog-cover" style="background-image: url(<%= post.avatar.url %>);">
      <!-- <div class="blog-author" >
        <h3 style="background-image: url(<%= post.user.avatar.url %>); background-position: center; background-size: cover; height: 70px; width: 70px; border-radius: 40px; margin-top: 10px;"><div style="margin-top: 10px;"><%= post.user.username %></div></h3>
      </div> -->

<div class="contained">
  <img src=<%= post.user.avatar.url %> class="image" >
  <div style="height: 70px;" class="overlayer">
    <div class="text-name"><%= post.user.username %></div>
  </div>
</div>
      
    </div>
  </div>

  <div class="blog-body">
    <div class="blog-title">
      <h1><%= link_to post.title, post_path(post) %></a></h1>
    </div>
    <div class="blog-summary">
      <span class="blog-content"><%= truncate(strip_tags(post.content.to_s), length: 300) %></span>
    </div>
    
  </div>
  
  <div class="blog-footer">
    <ul>
      <li class="published-date"><%= post.created_at %></li>
      <% if current_user == post.user %>
          <li><%= link_to "Delete", post_path(post), class: "post-delete", method: :delete %></li>
      <% end %>
    </ul>
  </div>

</div>
 
<% end %>
 

</div>