
<h1>Posts</h1>

<table class="table">
  <thead>
    <tr class="table-row">
      <th class="table-head">Title</th>
      <th class="table-head">Content</th>
      <th class="table-head">User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-body">
    <% @posts.each do |post| %>
      <tr>
        <td class="table-data"><%= post.title %></td>
        <td class="table-data"><%= post.content %></td>
        <td class="table-data"><%= post.user_id %></td>
        <td class="table-data"><%= link_to 'Show', post %></td>
        <% if post.user == current_user %>
          
          <td class="table-data"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
  <%= link_to 'Signup', new_user_registration_path %>
<% end %>