<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Editorial Board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="google-site-verification" content="Gbl_wKthqNTp5o-_7UO0ob8BDoI9yl7tkdmEuKnYoMo" />
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
<meta name="description" content="The Editorial Board, MMMUT">
<meta name="keywords" content="MMMUT, Madan Mohan Malaviya University of Technology, The Editorial Board, literary, editorial, publications, magazine">
  </head>

  <body>
    
    

    <%= yield %>
  </body>
</html>
