<p id="notice"><%= notice %></p>

<%= render partial: '/layouts/header2' %>

<div class="one one-head u-margin-top-big">
  <h1 class="one-head head-font" style="font-size: 56px;">Meet Our Team</h1>
</div>
<div class="one one-head u-margin-top-big u-margin-bottom-big">
  <h1 class="one-head head-font">Final Year Members</h1>
</div>
<div class="member">
  <div class="box">
    <% @final_year_members.each do |member| %>
      <div class="card u-margin-bottom-medium">
        <div class="imgBx">
           <%= image_tag member.avatar.url(:square) %>
        </div>
        <div class="details">
            <h2><%= member.name %><br><span>Final Year</span></h2>
        </div>
      </div>
    <% end %>
       
  </div>
</div>

<div class="one one-head u-margin-top-big u-margin-bottom-big">
  <h1 class="one-head head-font">Third year Members</h1>
</div>
<div class="member">
  <div class="box">
    <% @third_year_members.each do |member| %>
      <div class="card u-margin-bottom-medium">
        <div class="imgBx">
           <%= image_tag member.avatar.url(:square) %>
        </div>
        <div class="details">
            <h2><%= member.name %><br><span>Third Year</span></h2>
        </div>
      </div>
    <% end %>
       
  </div>
</div>
  
<div class="one one-head u-margin-top-big u-margin-bottom-big">
  <h1 class="one-head head-font">Second Year Members</h1>
</div>
<div class="member">
  <div class="box">
    <% @second_year_members.each do |member| %>
      <div class="card u-margin-bottom-medium">
        <div class="imgBx">
           <%= image_tag member.avatar.url(:square) %>
        </div>
        <div class="details">
            <h2><%= member.name %><br><span>Second Year</span></h2>
        </div>
      </div>
    <% end %>
       
  </div>
</div>

