<!-- 

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<section class="section-book">
                <div class="row">
                    <div class="book">
                        <div class="book__form">
                            <form action="#" class="form">
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary">
                                       Login
                                    </h2>
                                </div>

                                <div class="form__group">
                                    

                                    <%= f.label :username, class: "form__label" %><br />
                                    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form__input" %>
                                </div>

                                <div class="form__group">
                                    

                                    <%= f.label :email, class: "form__label" %><br />
                                    <%= f.email_field :email, autocomplete: "email", class: "form__input" %>
                                </div>

                                <div class="form__group">
                                    

                                    <%= f.label :password, class: "form__label" %>
                                    <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                                    <% end %><br />
                                    <%= f.password_field :password, autocomplete: "new-password", class: "form__input" %>
                                </div>

                                <div class="form__group">
                                    

                                    <%= f.label :password_confirmation, class: "form__label" %><br />
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form__input" %>
                                </div>
                                

                                <div class="form__group">
                                    <%= f.submit "Sign up", class: "btn btn--green" %>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <% end %> -->
<%= render partial: '/layouts/header2' %>
<div class="custom-form">

            <div class="one one-head u-margin-top-big">
  <h1 class="one-head" style="color: black; font-size: 50px; margin-top: 50px; margin-bottom: 50px;">Signup</h1>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<form>
  <label>
    <%= f.label :Username, class: "form-label" %><br />
    <%= f.text_field :username, placeholder: "Username",autocomplete: "username", id: "fname" %>
  </label>
  
  <label>
    

    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
  </label>

  <label>
     <%= f.label :password, class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>

    
  </label>

  <label>

    <%= f.label :password_confirmation, class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>

    
  </label>

  <label>
    <p class="profile-image-label">Upload Profile Image</p>
    
    <%= f.file_field :avatar %>

    
  </label>
 <div class="u-margin-bottom-big ">
  <%= f.submit "Sign up" %>
</div>
</form>
<% end %>
</div>